/*--=================================
                TOP
===================================*/

#top ul li
{
    display: inline;
    line-height: 30px;
    margin: 0px 5px; /*Margen 0 vertical 5 horizontal*/
    color: white;
}
/*--=================================
                REGISTRO
===================================*/
header #registro ul
{
    text-align: center;
    font-size: 11px;
    /*font-weight: 600;*/
    text-transform: uppercase;
}
/*--=================================
                HEADER
===================================*/
header{
    background: rgb(255,0,0);
    background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(10,10,10,1) 64%, rgba(84,84,84,1) 100%);
}
/*------------------------CATÁLOGO------------------------*/
header #btnCategorias
{
    margin: 20px 0;
    
}
header #btnCategorias p
{
    color: #ffffff;
    font-family: 'Oswald','PostScriptum',sans-serif;
    cursor: pointer;
}
header #btnCategorias span.icon-categ
{
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
    color: #ffffff;
}
header #btnCategorias span.icon-categ:hover{
    color: #bf0411;
}

/*--------------------MI CARRITO--------------------------*/
header #carrito{
    margin: 20px 0;
    color: #ffffff;
}
header #carrito a.icon-compras{
    border-radius: 0;
    text-decoration: none;
    color: #ffffff;
}
header #carrito a.icon-compras:hover{
    color: #bf0411;
}
header #carrito p{
    margin: auto;
    font-family: 'Anton', sans-serif;
}
/*------------------------USUARIOS------------------------*/
header #registro{
    margin: 20px 0;
    color: #ffffff;
}
header #registro span.icon-usuario{
    border-radius: 0;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ed1c24;
}
header #registro img.img-usuario{
    border-radius: 0;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ed1c24;
}
header #registro span.icon-usuario:hover{
    color: #bf0411;
}
header #registro span.tituloSeccion{
    margin: auto;
    align-content: center;
}
header #registro span.tituloSeccionDrop{
    margin: auto;
    align-content: center;
    font-family: 'Anton', sans-serif;
}
header #registro span.tituloSeccionDrop a{
    text-decoration: none;
    font-family: 'Anton', sans-serif;
}
header #registro span.tituloSeccion a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
}
header #registro span.arrow-down{
    align-content: center;
    text-decoration: none;
}
header #registro .dropdown-menu a{
    font-family: 'Anton', sans-serif;
}
header #registro .dropdown-menu a:hover{
    background: red;
    color: #ffffff;
}
header #registro .dropdown-toggle:focus{
    outline:none !important;
}
/*----------------------APLICACIONES----------------------*/
header .aplicaciones{
    margin-top: 20px;
    align-content: center;
    justify-content: center;
}
header .aplicaciones a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Anton',sans-serif;
    text-align: center;
}

/*--------------------------------------------------------*/
/*----------------------BUSCADOR-------------------*/
header #buscador
{
    margin: 20px 0;
}
header #buscador input
{
    padding: 19px;
    border-radius: 0px;
}
header #buscador button
{
    padding: 9px;
    border: 1px solid silver;
    border-radius: 0;
}
/*------------------------------------------------*/

/*------------------------------------------------*/

header #categorias
{
    display: none;
    margin-top: -10px;
    position: relative;
    padding-bottom: 20px;
}
header #categorias h4
{
    margin-top: 20px;
    margin-bottom: -10px;
}
header #categorias hr
{
    border: 1px solid rgba(255,255,255,.3);
}

/*--=================================
            VENTANAS MODALES
===================================*/
.modalTitulo{
    padding: 5px 0px;
}
.modalTitulo h3{
    text-align: center;
    margin-top: -5px;
    padding: 15px 0px;
    border-radius: 5px 5px 0px 0px;
}

.modalFormulario .close{
    position: absolute;
    right: 27px;
    top: 15px;
    color: white;
}

.modalFormulario p i{
    margin-left: -25px;
    margin-right: 25px;
    font-size: 25px;
}

.modalFormulario form{
    padding: 20px;
}

.modalFormulario form hr{
    border:1px solid #eee;
}

.modalFormulario form input[type="text"],
.modalFormulario form input[type="email"],
.modalFormulario form input[type="password"]{
    padding: 25px;
}
.modalFormulario form input[type="submit"]{
    padding: 15px;
}
.modalFormulario form .checkBox{
    margin-top:10px;
}
/*--------------------------------------------------------*/
.modalOferta .modal-dialog{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/*--------------------------------------------------------*/
/*--=================================
    PUNTOS DE QUIEBRE PERSONALIZADOS
===================================*/
/*--======================================================================
                ESCRITORIO GRANDE (LG revisamos en 1366 en adelante)
========================================================================*/
@media (min-width: 1200px)
{
    /*--=================================
                    HEADER
    ===================================*/
    header #logotipo img{
        width: 100%;
        max-width: 110px;
        margin-top: 10px;
        
    }
    header #camion img{
        position: absolute;
        right: 18px;
        width: 200px;
        margin-top: 22px;
    }
    
    /*------------------------------------------------*/
    header #btnCategorias p{
        font-size: 26px;
        padding: 4px 30px 6px 0px;
    }
    header #btnCategorias span.icon-categ{
        position: absolute;
        top: 0px;
        right: 15px;
        padding: 12px 15px;
        font-size: 19px;
    }
    /*------------------------------------------------------------------*/
    header #carrito a.icon-compras{
        position: absolute;
        top: 0px;
        padding: 9px 15px;
        font-size: 19px;
    }
    header #carrito p{
        padding: 2px;
        padding-left: 60px;
        font-size: 14px;
    }
    /*------------------------------------------------------------------*/
    
    /*------------------------------------------------*/
    header .aplicaciones a{
        font-size: 14px;
    }
    /*------------------------------------------------*/
    header #registro span.icon-usuario{
        position: absolute;
        left: 15px;
        padding: 9px 15px;
        font-size: 19px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -29px;
        left: 2px;
        width: 100%;
        max-width: 45px;
        margin: 9px 15px;
        font-size: 19px;
    }
    header #registro span.tituloSeccion{
        position: absolute;
        text-decoration: none;
        left: 61px;
        padding: 5.7px 0px 5.7px 10px;
    }
    header #registro span.tituloSeccionDrop{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: 18px;
        padding: 12px 0px 12px 10px;
    }
    header #registro span.tituloSeccion a{
        font-size: 12px;
    }
    header #registro span.arrow-down{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: -16px;
        padding: 12px 13px;
        text-decoration: none;
    }
    header #registro .dropdown-menu{
        position: absolute;
        top: 42px;
        left: -100px;
    }
    /*------------------------------------------------*/
    .modalOferta .modal-dialog{
        width: 100%;
        max-width: 900px;
        margin-top: 30px;
    }
    .modalOferta .img-Promocion img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 700px;
    }
    .modalOferta .container div{
        margin-right: 10%;
        margin-left: 10%;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
    
}
/*--======================================================================
        ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
========================================================================*/
@media (max-width: 1199px) and (min-width: 992px)
{
    /*--=================================
                    HEADER
    ===================================*/
    header #logotipo img{
        width: 100%;
        max-width: 120px;
        margin-top: 10px;;
        
    }
    header #camion img{
        
        position: absolute;
        right: 18px;
        width: 200px;
        margin-top: 18px;
        
    }
    /*------------------------------------------------*/
    header #btnCategorias p{
        font-size: 20px;
        padding: 5px 20px 5px 0px;
    }
    header #btnCategorias span.icon-categ{
        position: absolute;
        top: 0px;
        right: 15px;
        padding: 12px 15px;
        font-size: 14px;
    }
    /*------------------------------------------------*/
    header #carrito a.icon-compras{
        position: absolute;
        top: 0px;
        left: 10px;
        padding: 9px 13px;
        font-size: 17px;
    }
    header #carrito p{
        position: absolute;
        top: 0px;
        right: 60px;
        padding: 3px 0px 3px 0px;
        font-size: 12px;
    }
    /*------------------------------------------------------------------*/
    header #registro span.icon-usuario{
        position: absolute;
        left: 15px;
        padding: 9px 12px;
        font-size: 17px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -43px;
        left: -8px;
        width: 100%;
        max-width: 44px;
        margin: 9px 12px;
        font-size: 19px;
    }
    header #registro span.tituloSeccion{
        position: absolute;
        text-decoration: none;
        right: 60px;
        padding: 4.2px 0px 4.2px 10px;
    }
    header #registro span.tituloSeccion a{
        font-size: 12px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -28px;
        left: -18px;
        width: 100%;
        max-width: 44px;
        margin: 9px 15px;
        font-size: 19px;
    }
    header #registro span.tituloSeccionDrop{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: 18px;
        padding: 12px 0px 12px 10px;
    }
    header #registro span.arrow-down{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: -16px;
        padding: 12px 13px;
        text-decoration: none;
    }
    header #registro .dropdown-menu{
        position: absolute;
        top: 42px;
        left: -103px;
    }
    /*------------------------------------------------------------------*/
    header .aplicaciones a{
        font-size: 14px;
    }
    /*------------------------------------------------------------------*/
    .modalOferta .modal-dialog{
        width: 100%;
        max-width: 900px;
        margin-top: 50px;
    }
    .modalOferta .img-Promocion img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 700px;
    }
    .modalOferta .container div{
        margin-right: 7%;
        margin-left: 7%;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
}
/*--======================================================================
        ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
========================================================================*/
@media (max-width: 991px) and (min-width: 768px)
{
    /*--=================================
                    HEADER
    ===================================*/
    header #logotipo img{
        width: 100%;
        max-width: 140px;
        margin-top: 10px;
        
    }
    header #camion img{
        
        position: absolute;
        right: 0px;
        width: 150px;
        margin-top: 20px;
    }
    
    /*------------------------------------------------*/
    header #btnCategorias p{
        font-size: 18px;
        padding: 5px 20px 5px 0px;
    }
    header #btnCategorias span.icon-categ{
        position: absolute;
        top: 0px;
        right: 14px;
        padding: 11px 12px;
        font-size: 14px;
    }
    /*------------------------------------------------*/
    header #carrito a.icon-compras{
        position: absolute;
        top: 0px;
        left: 5px;
        padding: 9px 12px;
        font-size: 15px;
    }
    header #carrito p{
        position: absolute;
        top: 0px;
        left: 45px;
        padding: 4px 0px 4px 0px;
        font-size: 11px;
    }
    /*------------------------------------------------------------------*/
    header #registro span.icon-usuario{
        position: absolute;
        left: 15px;
        padding: 11px 12px;
        font-size: 13px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -41px;
        left: -6px;
        width: 100%;
        max-width: 42px;
        margin: 9px 12px;
        font-size: 19px;
    }
    header #registro span.tituloSeccion{
        position: absolute;
        text-decoration: none;
        right: 19px;
        padding: 3.5px 0px 3.5px 10px;
    }
    header #registro span.tituloSeccion a{
        font-size: 11px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -25px;
        left: -40px;
        width: 100%;
        max-width: 41px;
        margin: 9px 15px;
        font-size: 19px;
    }
    header #registro span.tituloSeccionDrop{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: 18px;
        padding: 12px 0px 12px 10px;
    }
    header #registro span.arrow-down{
        position: absolute;
        text-decoration: none;
        top: -1px;
        right: -16px;
        padding: 12px 13px;
        text-decoration: none;
    }
    header #registro .dropdown-menu{
        position: absolute;
        top: 42px;
        left: -103px;
    }
    
    /*------------------------------------------------------------------*/
    header .aplicaciones a{
        font-size: 12px;
    }
    /*------------------------------------------------------------------*/
    .modalOferta .modal-dialog{
        width: 100%;
        max-width: 700px;
        margin-top: 60px;
    }
    .modalOferta .img-Promocion img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 700px;
    }
    .modalOferta .container div{
        margin-right: 1%;
        margin-left: 1%;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
}
/*--======================================================================
                                MOVILES (XS revisamos en 320px)
========================================================================*/
@media (max-width: 767px) and (min-width: 500px){
    /*------------------------------------------------------------------*/
    header #logotipo img{
        width: 80px;
        margin-top: 15px;
    }
    header #camion img{
        
        position: absolute;
        right: -30px;
        width: 130px;
        margin-top: 20px;
        
    }
    /*------------------------------------------------------------------*/
    /*------------------------------------------------*/
    header #btnCategorias p{
        font-size: 15px;
        padding: 5px 40px 5px 0px;
    }
    header #btnCategorias span.icon-categ{
        position: absolute;
        top: 0px;
        right: 7px;
        padding: 9px 10px;
        font-size: 12px;
    }
    /*------------------------------------------------*/
    header #carrito a.icon-compras{
        position: absolute;
        left: -10px;
        padding: 8.5px 10px;
        font-size: 12px;
    }
    header #carrito p{
        position: absolute;
        left: 23px;
        padding: 3.8px 0px 3.8px 0px;
        font-size: 9px;
    }
    /*------------------------------------------------------------------*/
    header #registro span.icon-usuario{
        position: absolute;
        left: 5px;
        padding: 8.5px 10px;
        font-size: 13px;
    }
    header #registro span.tituloSeccion{
        position: absolute;
        text-decoration: none;
        left: 37px;
        padding: 3px 0px 3px 0px;
    }
    header #registro span.tituloSeccion a{
        font-size: 11px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -18px;
        left: -35px;
        width: 100%;
        max-width: 34px;
        margin: 9px 15px;
        z-index: 1;
    }
    header #registro span.tituloSeccionDrop{
        position: absolute;
        text-decoration: none;
        top: -1px;
        left: -21px;
        padding: 10px 0px 10px 10px;
        font-size: 10px;
    }
    header #registro span.arrow-down{
        position: absolute;
        text-decoration: none;
        top: -1px;
        left: 19.5px;
        padding: 7px 9px;
        text-decoration: none;
    }
    header #registro .dropdown-menu{
        position: absolute;
        top: 42px;
        left: -103px;
    }
    
    /*------------------------------------------------------------------*/
    header .aplicaciones a{
        font-size: 10px;
    }
 
    /*------------------------------------------------------------------*/
    .modalOferta .modal-dialog{
        width: 100%;
        max-width: 900px;
        margin-top: 55px;
    }
    .modalOferta .img-Promocion img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 600px;
    }
    .modalOferta .container div{
        margin-right: 5%;
        margin-left: 5%;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
}
@media (max-width: 499px)
{
    /*--=================================
                     TOP
    ===================================*/
    #top ul
    {
        text-align: center;
    }
    /*--=================================
                    HEADER
    ===================================*/
   /*------------------------------------------------------------------*/
    header #logotipo img{
        width: 57px;
        margin-top: 15px;
    }
    header #camion img{
        
        position: absolute;
        right: -30px;
        width: 100px;
        margin-top: 25px;
        
    }
    /*------------------------------------------------*/
    header #btnCategorias p{
        position: absolute;
        font-size: 15px;
        padding: 5px 40px 5px 0px;
    }
    header #btnCategorias span.icon-categ{
        position: absolute;
        top: 0px;
        left: 70px;
        padding: 9px 10px;
        font-size: 12px;
        border: 1px solid #aaa;
    }
    /*------------------------------------------------*/
    header #carrito a.icon-compras{
        position: absolute;
        left: 32px;
        border: 1px solid #aaa;
        padding: 9px 10px;
        font-size: 12px;
    }
    header #carrito p{
        display: none;
    }
    /*------------------------------------------------*/
    header #categorias
    {
        margin-bottom: 10px;
    }
    div #buscador
    {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    /*------------------------------------------------------------------*/
    header #registro span.icon-usuario{
        position: absolute;
        left: 28px;
        padding: 8.5px 10px;
        font-size: 13px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -35px;
        left: 16px;
        width: 100%;
        max-width: 37px;
        margin: 8.5px 10px;
        font-size: 19px;
    }
    header #registro span.tituloSeccion{
        display: none;
        position: absolute;
        text-decoration: none;
        left: 37px;
        padding: 3px 0px 3px 0px;
    }
    header #registro span.tituloSeccion a{
        font-size: 11px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -35px;
        left: 16px;
        width: 100%;
        max-width: 37px;
        margin: 8.5px 10px;
        font-size: 19px;
    }
    header #registro img.img-usuario{
        position: absolute;
        bottom: -20px;
        left: 13px;
        width: 100%;
        max-width: 37px;
        margin: 8.5px 10px;
        z-index: 1;
    }
    header #registro span.tituloSeccionDrop{
        display: none;
    }
    header #registro span.arrow-down{
        position: absolute;
        text-decoration: none;
        border: 1px solid #fff;
        top: -1px;
        left: 45px;
        padding: 7.5px 7px;
        text-decoration: none;
    }
    header #registro .dropdown-menu{
        position: absolute;
        top: 42px;
        left: -103px;
        width: 100%;
        max-width: 500px;
    }
    /*------------------------------------------------------------------*/
    header .aplicaciones{
        margin-top: 5px;
    }
    header .aplicaciones a{
        font-size: 11px;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
    header .temporal{
        display: none;
    }
    /*------------------------------------------------------------------*/
    .modalOferta .modal-dialog{
        width: 100%;
        max-width: 900px;
        margin-top: 70px;
    }
    .modalOferta .img-Promocion img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 400px;
    }
    .modalOferta .container div{
        margin-right: 1%;
        margin-left: 1%;
        color: white;
        font-weight: 600;
        font-size: 15px;
    }
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
}