.dudasYSugerencias{
    margin-top:20px;
    background: linear-gradient(to top, black 10% ,white 70%);
    justify-content: center; 
    align-items: center;
}
/*==========================================================*/

.dudasYSugerencias .container{
    margin-top: 30px;
}

.dudasYSugerencias .container .datos-i{
    display: block;
}

.dudasYSugerencias .container .datos-t{
    display: block;
    text-align: center;
}

/*==========================================================*/
.dudasYSugerencias .telefonoContacto{
    justify-content: center;
    align-items: center;
    height: 100px;
}

.dudasYSugerencias .correoContacto{
    
    height: 100px;
}

.dudasYSugerencias .direccionContacto{
    
    height: 100px;
}

.dudasYSugerencias .telefonoContacto img{
    width: 40px;
    
}

.dudasYSugerencias .correoContacto img{
    width: 40px;
    
}

.dudasYSugerencias .direccionContacto img{
    width: 40px;
    
}
/*==========================================================*/
.formularioCont{
    
    /*background: linear-gradient(to top, black, white);*/
}

/*=============================================
FOOTER
=============================================*/

footer{
    background: #000;
}
/*======================================================*/
/*-------------------------------------------*/
footer #zaeropuerto img{
    /*display: flex;
    
    align-items: center;*/
    display:flex;
    margin:0 auto;
}

footer #freightliner img{
    display:flex;
    margin:0 auto;
}

footer #mercedes img{
    display:flex;
    margin:0 auto;
}

footer #greatdane img{
    display:flex;
    margin:0 auto;
}
/*-------------------------------------------*/
/*======================================================*/

.footerCategorias h4 a{
    color:#666;
}

.footerCategorias li a{
    color:#999;
}

.footerCategorias hr{
    border:1px solid #333;
}

.infoContacto h5{
    color:#999;
}

.formContacto h4{
    color:#666;
}

.final{
    padding:10px 0;
    background: black;
}

.final ul li{
    display:inline;
    line-height:30px;
    margin:0px 5px;
    color:white;
}

.final .social ul li a i{
    font-size:18px;
    margin:0 1px;
}

.somos{
    padding: 20px 0;
}
.somos span.somos-1 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.somos span.quien-soy a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

/*--=================================
    PUNTOS DE QUIEBRE PERSONALIZADOS
===================================*/
/*--======================================================================
                ESCRITORIO GRANDE (LG revisamos en 1366 en adelante)
========================================================================*/
@media (min-width: 1200px)
{
    /*------------------------------------------------*/
    
    .dudasYSugerencias .container .datos-t{
        font-size: 15px;
    }
    
    footer #zaeropuerto img{
        width:100%;
        max-width:250px;
        display:flex;
        margin:0 auto;
    }
    
    footer #freightliner img{
        width:100%;
        max-width:170px;
        display:flex;
        margin:0 auto;
    }
    
    footer #mercedes img{
        width:100%;
        max-width:170px;
        display:flex;
        margin:0 auto;
    }
    
    footer #greatdane img{
        width:100%;
        max-width:170px;
        display:flex;
        margin:0 auto;
    }
    
    /*------------------------------------------------*/
    
    .metodosPago{
        float: right;
        position: relative;
        width: 420px;
        top: 80px;
        right: -10px;
    }
    
    .metodosPago ul.horizontal{
        margin:0;
        padding: 0;
        list-style-type: none;
    }
    
    .metodosPago ul.horizontal li{
        display: block;
        float: left;
        padding: 0 8px;
    }
    
    .metodosPago ul.horizontal li img{
        width: 80px;
    }
    .dudasYSugerencias img.dudas-sugerencias{
        align-items: center;
        width: 100%;
        max-width: 3000px;
        height:90px;
    }
    /*------------------------------------------------*/
    
}
/*--======================================================================
        ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
========================================================================*/
@media (max-width: 1199px) and (min-width: 992px)
{
    /*------------------------------------------------*/
    
    .dudasYSugerencias .container .datos-t{
        font-size: 12px;
    }
    
    footer #zaeropuerto{}
    
    footer #freightliner{}

    footer #mercedes{}

    footer #greatdane{}
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
    footer #zaeropuerto img{
        width:100%;
        max-width:200px;
        margin: auto;
    }
    
    footer #freightliner img{
        width:100%;
        max-width:140px;
        margin: auto;
    }
    
    footer #mercedes img{
        width:100%;
        max-width:140px;
        margin: auto;
    }
    
    footer #greatdane img{
        width:100%;
        max-width:140px;
        margin: auto;
    }
    /*------------------------------------------------*/
    
    .metodosPago{
        float: right;
        position: relative;
        width: 420px;
        top: 70px;
        right:-15px;
    }
    
    .metodosPago ul.horizontal{
        margin:0;
        padding: 0;
        list-style-type: none;
    }
    
    .metodosPago ul.horizontal li{
        display: block;
        float: left;
        padding: 0 8px;
    }
    
    .metodosPago ul.horizontal li img{
        width: 80px;
    }
    
    .dudasYSugerencias img.dudas-sugerencias{
        align-items: center;
        width: 100%;
        max-width: 1500px;
        height:80px;
    }
    /*------------------------------------------------*/
}
/*--======================================================================
        ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
========================================================================*/
@media (max-width: 991px) and (min-width: 768px)
{
    /*------------------------------------------------*/
    
    .dudasYSugerencias .container .datos-t{
        font-size: 10px;
    }
    
    .dudasYSugerencias .direccionContacto img{
        width: 25px;

    }
    
    footer #zaeropuerto{

    }
    
    footer #freightliner{
        
    }

    footer #mercedes{
        
    }

    footer #greatdane{
        
    }
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
    footer #zaeropuerto img{
        width:100%;
        max-width:200px;
        margin: auto;
    }
    
    footer #freightliner img{
        width:100%;
        max-width:120px;
        margin: auto;
    }
    
    footer #mercedes img{
        width:100%;
        max-width:120px;
        margin: auto;
    }
    
    footer #greatdane img{
        width:100%;
        max-width:120px;
        margin: auto;
    }
    /*------------------------------------------------*/
    /*------------------------------------------------*/
    
    .metodosPago{
        float: right;
        position: relative;
        width: 340px;
        top: 80px;
        right:-15px;
    }
    
    .metodosPago ul.horizontal{
        margin:0;
        padding: 0;
        list-style-type: none;
    }
    
    .metodosPago ul.horizontal li{
        display: block;
        float: left;
        padding: 0 8px;
    }
    
    .metodosPago ul.horizontal li img{
        width: 60px;
    }
    .dudasYSugerencias img.dudas-sugerencias{
        align-items: center;
        width: 100%;
        max-width: 1500px;
        height:90px;
    }
    /*------------------------------------------------*/
}
/*--======================================================================
                                MOVILES (XS revisamos en 320px)
========================================================================*/
@media (max-width: 767px) and (min-width: 500px)
{   
    /*------------------------------------------------*/
    footer #zaeropuerto{
        display: block;
    }
    
    footer #freightliner{
        display:none;
    }

    footer #mercedes{
        display:none;
    }

    footer #greatdane{
        display:none;
    }
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
    footer #zaeropuerto img{
        width:100%;
        max-width:200px;
        margin: auto;
    }
    
    footer #freightliner img{
        
    }
    
    footer #mercedes img{
        
    }
    
    footer #greatdane img{
        
    }
    /*------------------------------------------------*/
    
    .metodosPago{
        float: right;
        position: relative;
        width: 240px;
        top: 50px;
        right: -15px;
    }
    
    .metodosPago ul.horizontal{
        margin:0;
        padding: 0;
        list-style-type: none;
    }
    
    .metodosPago ul.horizontal li{
        display: block;
        float: left;
        padding: 0 2px;
    }
    
    .metodosPago ul.horizontal li img{
        width: 40px;
    }
    .dudasYSugerencias img.dudas-sugerencias{
        align-items: center;
        width: 100%;
        max-width: 1500px;
        height:60px;
    }
    /*------------------------------------------------*/
}
@media (max-width: 499px)
{   
    /*------------------------------------------------*/
    footer #zaeropuerto{
        display: block;
    }
    
    footer #freightliner{
        display:none;
    }

    footer #mercedes{
        display:none;
    }

    footer #greatdane{
        display:none;
    }
    /*------------------------------------------------*/
    
    /*------------------------------------------------*/
    footer #zaeropuerto img{
        width:100%;
        max-width:200px;
        margin: auto;
    }
    
    footer #freightliner img{
        
    }
    
    footer #mercedes img{
        
    }
    
    footer #greatdane img{
        
    }
    /*------------------------------------------------*/
    
    .metodosPago{
        float: right;
        position: relative;
        width: 178px;
        top: 30px;
        right:-15px;
    }
    
    .metodosPago ul.horizontal{
        margin:0;
        padding: 0;
        list-style-type: none;
    }
    
    .metodosPago ul.horizontal li{
        display: block;
        float: left;
        padding: 0 0px;
    }
    
    .metodosPago ul.horizontal li img{
        width: 100%;
        max-width: 35px;
    }
    .dudasYSugerencias img.dudas-sugerencias{
        align-items: center;
        width: 100%;
        max-width: 1500px;
        height:40px;
    }
    /*------------------------------------------------*/
}